---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Jordi Eduardo Ayala Soto | 404">
  <div class="mt-8 text-center">
		<h3 class="text-3xl font-bold">Página no encontrada!</h3>
    <img src="/404.svg" class="w-1/2 mx-auto floating-svg" alt="404">
  </div>
	<div class="flex justify-center">
		<a class="btn btn-primary text-center" href="/">Inicio</a>
	</div>
</BaseLayout>
