---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Jordi Eduardo Ayala Soto | Cursos" sideBarActiveItemID="cursos">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Cursos</div>
    </div>

    <div class="mb-10 text-justify">
        En esta sección se listan las certificaciones y cursos realizados en distintas plataformas. Esto representa una
        constante actualización de conocimientos y habilidades en distintas áreas y tecnologías.
    </div>

    <div class="mb-5">
        <details>
            <summary class="text-2xl w-full font-bold">Microsoft</summary>
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li class="mt-2">
                    <a href="https://learn.microsoft.com/api/credentials/share/en-us/asjordi/7A800ECEF474894F?sharingId=CF624A4F1EA35C1A" target="_blank">Microsoft Certified: Azure Data Fundamentals</a>
                </li>
                <li class="mt-2">
                    <a href="https://learn.microsoft.com/api/credentials/share/es-mx/asjordi/7C48D5BF6F17A611?sharingId=CF624A4F1EA35C1A" target="_blank">Microsoft 365 Certified: Fundamentals</a>
                </li>
                <li class="mt-2">
                    <a href="https://learn.microsoft.com/api/credentials/share/en-us/asjordi/F3141A620BFC1634?sharingId=CF624A4F1EA35C1A" target="_blank">Microsoft Certified: Azure Fundamentals</a>
                </li>
            </ul>
        </details>
    </div>
    <div class="mb-5">
        <details>
            <summary class="text-2xl w-full font-bold">GitHub</summary>
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li class="mt-2">
                    <a href="https://www.credly.com/badges/72afa3aa-ff71-4b85-b975-8781a4d141ba/public_url" target="_blank">GitHub Foundations</a>
                </li>
            </ul>
        </details>
    </div>
    <div class="mb-5">
        <details>
            <summary class="text-2xl w-full font-bold">Cisco</summary>
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li class="mt-2">
                    <a href="https://www.credly.com/badges/1099d4b7-b132-461e-8157-9cc98a377775/public_url" target="_blank"> Introduction to Cybersecurity</a>
                </li>
                <li>
                    <a href="https://www.credly.com/badges/f1fae9e9-fc17-494e-bb43-f08993300d72/public_url" target="_blank"> Introduction to IoT</a>
                </li>
                <li>
                    <a href="https://www.credly.com/badges/164904a0-da3a-4e23-aa09-299196de2177/public_url" target="_blank"> Operating Systems Basics</a>
                </li>
                <li>
                    <a href="https://www.credly.com/badges/f9b0979a-c989-409d-8d70-0e4dfd36eb33/public_url" target="_blank"> Computer Hardware Basics</a>
                </li>
            </ul>
        </details>
    </div>
    <div class="mb-5">
        <details>
            <summary class="text-2xl w-full font-bold">DataCamp</summary>
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li class="mt-2">
                    <a href="https://www.datacamp.com/certificate/SQA0013230404881" target="_blank">SQL Associate certificate</a>
                </li>
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/dc-sql-fundamentals.pdf" target="_blank">SQL Fundamentals</a>
                </li>
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/dc-java-fundamentals.pdf" target="_blank">Java Fundamentals</a>
                </li>
            </ul>
        </details>
    </div>
    <div class="mb-5">
        <details>
            <summary class="text-2xl w-full font-bold">freeCodeCamp</summary>
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li class="mt-2">
                    <a href="https://www.freecodecamp.org/certification/asjordi/foundational-c-sharp-with-microsoft" target="_blank">Foundational C# with Microsoft</a>
                </li>
                <li class="mt-2">
                    <a href="https://www.freecodecamp.org/certification/asjordi/relational-database-v8" target="_blank">Relational Database</a>
                </li>
                <li class="mt-2">
                    <a href="https://www.freecodecamp.org/certification/asjordi/responsive-web-design" target="_blank">Responsive Web Design</a>
                </li>
            </ul>
        </details>
    </div>
    <div class="mb-5">
        <details>
            <summary class="text-2xl w-full font-bold">Oracle Next Education</summary>
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/one-01.pdf" target="_blank"> Formación - Desarrollo Personal</a>
                </li>
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/one-02.pdf" target="_blank"> Formación - Principiante en Programación</a>
                </li>
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/one-03.pdf" target="_blank"> Formación - FrontEnd</a>
                </li>
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/one-04.pdf" target="_blank"> Formación - Business Agility</a>
                </li>
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/one-05.pdf" target="_blank"> Formación - Java Orientado a Objetos</a>
                </li>
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/one-06.pdf" target="_blank"> Formación - Emprendimiento</a>
                </li>
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/one-07.pdf" target="_blank"> Formación - SQL con MySQL Server de Oracle</a>
                </li>
            </ul>
        </details>
    </div>
    <div class="mb-5">
        <details>
            <summary class="text-2xl w-full font-bold">Código Facilito</summary>
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/cf-001.pdf" target="_blank"> Curso Profesional de Base de Datos</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-002.pdf" target="_blank"> Curso Profesional Desarrollo Web</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-003.pdf" target="_blank"> Curso a fondo de GitHub</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-004.pdf" target="_blank"> Curso profesional de Python</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-005.pdf" target="_blank"> Minicurso para publicar tu primera página web</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-006.pdf" target="_blank"> Curso Profesional de Git</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-007.pdf" target="_blank"> Curso Profesional de JAVA</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-008.pdf" target="_blank"> Curso de programación funcional en Java</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-009.pdf" target="_blank"> Curso de Programación Orientada a Objetos</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-010.pdf" target="_blank"> Curso de Java EE</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-011.pdf" target="_blank"> Curso de Estructuras de Datos con JAVA</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-012.pdf" target="_blank"> Curso de Patrones de Diseño con JAVA</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-013.pdf" target="_blank"> Curso profesional de C#</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/cf-014.pdf" target="_blank"> Curso profesional de C# 10</a>
                </li>
            </ul>
        </details>
    </div>
    <div class="mb-5">
        <details>
            <summary class="text-2xl w-full font-bold">EDTeam</summary>
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/ed-001.pdf" target="_blank"> Testing con Java: Junit, Mockito y Cucumber</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/ed-002.pdf" target="_blank"> C# desde Cero</a>
                </li>
            </ul>
        </details>
    </div>
    <div class="mb-5">
        <details>
            <summary class="text-2xl w-full font-bold">Linkedin Learning</summary>
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/li-001.pdf" target="_blank"> Aprende SCRUM</a>
                </li>
            </ul>
        </details>
    </div>
    <div class="mb-5">
        <details>
            <summary class="text-2xl w-full font-bold">Fortinet</summary>
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li class="mt-2">
                    <a href="https://training.fortinet.com/mod/customcert/verify_certificate.php?contextid=251439&code=EXwzRlESR9&qrcode=1" target="_blank"> NSE 1 Network Security Associate</a>
                </li>
                <li>
                    <a href="https://training.fortinet.com/mod/customcert/verify_certificate.php?contextid=251440&code=AeVn6uSCjN&qrcode=1" target="_blank"> NSE 2 Network Security Associate</a>
                </li>
                <li>
                    <a href="https://training.fortinet.com/mod/customcert/verify_certificate.php?contextid=251441&code=WipPu6Zsj9&qrcode=1" target="_blank"> NSE 3 Network Security Associate</a>
                </li>
            </ul>
        </details>
    </div>
    <div class="mb-5">
        <details>
            <summary class="text-2xl w-full font-bold">SoloLearn</summary>
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/sl-001.pdf" target="_blank"> HTML Fundamentals course</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/sl-002.pdf" target="_blank"> Machine Learning course</a>
                </li>
            </ul>
        </details>
    </div>
    <div class="mb-5">
        <details>
            <summary class="text-2xl w-full font-bold">OneMonth</summary>
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li class="mt-2">
                    <a href="https://cdn.asjordi.dev/cursos/om-001.pdf" target="_blank"> Learn SQL</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/om-002.pdf" target="_blank"> Learn HTML</a>
                </li>
                <li>
                    <a href="https://cdn.asjordi.dev/cursos/om-003.pdf" target="_blank"> Learn Responsive Design</a>
                </li>
            </ul>
        </details>
    </div>

</BaseLayout>
