---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Jordi Eduardo Ayala Soto | Cursos">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Cursos</div>
  </div>

  <div class="mb-10 text-justify">
    En esta sección se listan los cursos realizados en distintas plataformas. Estos cursos representan una constante actualización de conocimientos y habilidades  en distintas áreas. 
  </div>

  <div class="mb-5">
		<details open>
			<summary class="text-2xl w-full font-bold">Plataforma</summary>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a href="#" target="_blank"> Nombre</a>
				</li>
			</ul>
		</details>
  </div>
	
</BaseLayout>
