---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Jordi Eduardo Ayala Soto | Cursos">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Cursos</div>
  </div>

  <div class="mb-10 text-justify">
    En esta sección se listan los cursos realizados en distintas plataformas. Estos cursos representan una constante actualización de conocimientos y habilidades en distintas áreas y tecnologías.
  </div>

  <div class="mb-5">
		<details>
			<summary class="text-2xl w-full font-bold">Microsoft</summary>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a href="https://www.credly.com/badges/b1a3c559-3446-4cc3-8fd5-ac277d552806/public_url" target="_blank"> Microsoft Certified: Azure Fundamentals</a>
				</li>
			</ul>
		</details>
  </div>
	<div class="mb-5">
		<details>
			<summary class="text-2xl w-full font-bold">Cisco</summary>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a href="https://www.credly.com/badges/1099d4b7-b132-461e-8157-9cc98a377775/public_url" target="_blank"> Introduction to Cybersecurity</a>
				</li>
				<li>
					<a href="https://www.credly.com/badges/f1fae9e9-fc17-494e-bb43-f08993300d72/public_url" target="_blank"> Introduction to IoT</a>
				</li>
				<li>
					<a href="https://www.credly.com/badges/164904a0-da3a-4e23-aa09-299196de2177/public_url" target="_blank"> Operating Systems Basics</a>
				</li>
			</ul>
		</details>
  </div>
	<div class="mb-5">
		<details>
			<summary class="text-2xl w-full font-bold">Código Facilito</summary>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a href="/cursos/cf-001.pdf" target="_blank"> Curso Profesional de Base de Datos</a>
				</li>
				<li>
					<a href="/cursos/cf-002.pdf" target="_blank"> Curso Profesional Desarrollo Web</a>
				</li>
				<li>
					<a href="/cursos/cf-003.pdf" target="_blank"> Curso a fondo de GitHub</a>
				</li>
				<li>
					<a href="/cursos/cf-004.pdf" target="_blank"> Curso profesional de Python</a>
				</li>
				<li>
					<a href="/cursos/cf-005.pdf" target="_blank"> Minicurso para publicar tu primera página web</a>
				</li>
				<li>
					<a href="/cursos/cf-006.pdf" target="_blank"> Curso Profesional de Git</a>
				</li>
				<li>
					<a href="/cursos/cf-007.pdf" target="_blank"> Curso Profesional de JAVA</a>
				</li>
				<li>
					<a href="/cursos/cf-008.pdf" target="_blank"> Curso de programación funcional en Java</a>
				</li>
				<li>
					<a href="/cursos/cf-009.pdf" target="_blank"> Curso de Programación Orientada a Objetos</a>
				</li>
				<li>
					<a href="/cursos/cf-010.pdf" target="_blank"> Curso de Java EE</a>
				</li>
				<li>
					<a href="/cursos/cf-011.pdf" target="_blank"> Curso de Estructuras de Datos con JAVA</a>
				</li>
				<li>
					<a href="/cursos/cf-012.pdf" target="_blank"> Curso de Patrones de Diseño con JAVA</a>
				</li>
				<li>
					<a href="/cursos/cf-013.pdf" target="_blank"> Curso profesional de C#</a>
				</li>
				<li>
					<a href="/cursos/cf-014.pdf" target="_blank"> Curso profesional de C# 10</a>
				</li>
			</ul>
		</details>
  </div>
	<div class="mb-5">
		<details>
			<summary class="text-2xl w-full font-bold">EDteam</summary>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a href="/cursos/ed-001.pdf" target="_blank"> Testing con Java: Junit, Mockito y Cucumber</a>
				</li>
				<li>
					<a href="/cursos/ed-002.pdf" target="_blank"> C# desde Cero</a>
				</li>
			</ul>
		</details>
  </div>
	<div class="mb-5">
		<details>
			<summary class="text-2xl w-full font-bold">Google Activate</summary>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a href="/cursos/ga-001.pdf" target="_blank"> Desarrollo de Apps Móviles</a>
				</li>
				<li>
					<a href="/cursos/ga-002.pdf" target="_blank"> Protege tu Negocio: Seguridad en el Teletrabajo</a>
				</li>
				<li>
					<a href="/cursos/ga-003.pdf" target="_blank"> Introducción al Desarrollo Web I</a>
				</li>
			</ul>
		</details>
  </div>
	<div class="mb-5">
		<details>
			<summary class="text-2xl w-full font-bold">Linkedin Learning</summary>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a href="/cursos/li-001.pdf" target="_blank"> Aprende SCRUM</a>
				</li>
			</ul>
		</details>
  </div>
	<div class="mb-5">
		<details>
			<summary class="text-2xl w-full font-bold">Oracle Next Education</summary>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a href="/cursos/one-001.pdf" target="_blank"> LinkedIn: Como hacer que tu perfil trabaje por ti</a>
				</li>
				<li>
					<a href="/cursos/one-002.pdf" target="_blank"> Foco: Enfocarse trae más resultados para el día a día</a>
				</li>
				<li>
					<a href="/cursos/one-003.pdf" target="_blank"> Hábitos: Ser productivo para cumplir sus metas personales</a>
				</li>
				<li>
					<a href="/cursos/one-004.pdf" target="_blank"> Productividad parte 1: Estrategias para actividades diarias</a>
				</li>
				<li>
					<a href="/cursos/one-005.pdf" target="_blank"> Lógica de programación parte 1: Primeros pasos</a>
				</li>
				<li>
					<a href="/cursos/one-006.pdf" target="_blank"> Lógica de programación parte 2: Conceptos primordiales</a>
				</li>
				<li>
					<a href="/cursos/one-007.pdf" target="_blank"> Lógica de programación parte 3: Practicando con juegos y animaciones</a>
				</li>
				<li>
					<a href="/cursos/one-008.pdf" target="_blank"> HTML5 y CSS3 parte 1: Mi primera página web</a>
				</li>
				<li>
					<a href="/cursos/one-009.pdf" target="_blank"> HTML5 y CSS3 parte 2: Posicionamiento, listas y navegación</a>
				</li>
				<li>
					<a href="/cursos/one-010.pdf" target="_blank"> HTML5 y CSS3 parte 3: Trabajando con formularios y tablas</a>
				</li>
				<li>
					<a href="/cursos/one-011.pdf" target="_blank"> HTML5 y CSS3 parte 4: Avanzando en CSS</a>
				</li>
				<li>
					<a href="/cursos/one-012.pdf" target="_blank"> Git y GitHub: controle y comparta su código</a>
				</li>
				<li>
					<a href="/cursos/one-013.pdf" target="_blank"> Flexbox: Posicione elementos en la pantalla</a>
				</li>
				<li>
					<a href="/cursos/one-014.pdf" target="_blank"> CSS Grid: Simplificando layouts</a>
				</li>
				<li>
					<a href="/cursos/one-015.pdf" target="_blank"> Layouts Responsivos: Trabajando con layouts mobile</a>
				</li>
				<li>
					<a href="/cursos/one-016.pdf" target="_blank"> Arquitectura CSS: Descomplicando los problemas</a>
				</li>
				<li>
					<a href="/cursos/one-017.pdf" target="_blank"> JavaScript: primeros pasos con el lenguaje</a>
				</li>
				<li>
					<a href="/cursos/one-018.pdf" target="_blank"> JS en la Web: Manipulación del DOM con JavaScript</a>
				</li>
				<li>
					<a href="/cursos/one-019.pdf" target="_blank"> JS en la Web: Validación de Formularios y HTML5</a>
				</li>
				<li>
					<a href="/cursos/one-020.pdf" target="_blank"> JavaScript: Introducción a la Orientación a Objetos</a>
				</li>
				<li>
					<a href="/cursos/one-021.pdf" target="_blank"> JavaScript: Herencia e Interfaces en Orientación a Objetos</a>
				</li>
				<li>
					<a href="/cursos/one-022.pdf" target="_blank"> JS en la Web: Almacenando datos en el navegador</a>
				</li>
				<li>
					<a href="/cursos/one-023.pdf" target="_blank"> JS en la Web: CRUD con JavaScript asíncrono</a>
				</li>
				<li>
					<a href="/cursos/one-024.pdf" target="_blank"> Fundamentos de Agilidad: Primeros pasos para la transformación ágil</a>
				</li>
				<li>
					<a href="/cursos/one-025.pdf" target="_blank"> Gestión ágil: Liderando el cambio en un ambiente de agilidad</a>
				</li>
				<li>
					<a href="/cursos/one-026.pdf" target="_blank"> La Empresa Ágil: Introduciendo el Business Agility en las organizaciones</a>
				</li>
				<li>
					<a href="/cursos/one-027.pdf" target="_blank"> Organización de equipos ágiles: Las funciones existentes en un equipo</a>
				</li>
				<li>
					<a href="/cursos/one-028.pdf" target="_blank"> Java JRE y JDK: compile y ejecute su primer programa</a>
				</li>
				<li>
					<a href="/cursos/one-029.pdf" target="_blank"> Java OO: Entendiendo la Orientación a Objetos</a>
				</li>
				<li>
					<a href="/cursos/one-030.pdf" target="_blank"> Java Polimorfismo: Entendiendo herencia e interfaces</a>
				</li>
				<li>
					<a href="/cursos/one-031.pdf" target="_blank"> Java Excepciones: Aprenda a crear, lanzar y controlar excepciones</a>
				</li>
				<li>
					<a href="/cursos/one-032.pdf" target="_blank"> Java y java.lang: Programe con la clase Object y String</a>
				</li>
				<li>
					<a href="/cursos/one-033.pdf" target="_blank"> Java y java.util: Colecciones, Wrappers y Lambda expressions</a>
				</li>
				<li>
					<a href="/cursos/one-034.pdf" target="_blank"> Java: Dominando las Collections</a>
				</li>
				<li>
					<a href="/cursos/one-035.pdf" target="_blank"> Introducción a SQL con MySQL: Manipule y consulte datos</a>
				</li>
				<li>
					<a href="/cursos/one-036.pdf" target="_blank"> Java y JDBC: Trabajando con una Base de Datos</a>
				</li>
			</ul>
		</details>
  </div>
	<div class="mb-5">
		<details>
			<summary class="text-2xl w-full font-bold">Fortinet</summary>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a href="https://training.fortinet.com/mod/customcert/verify_certificate.php?contextid=251439&code=EXwzRlESR9&qrcode=1" target="_blank"> NSE 1 Network Security Associate</a>
				</li>
				<li>
					<a href="https://training.fortinet.com/mod/customcert/verify_certificate.php?contextid=251440&code=AeVn6uSCjN&qrcode=1" target="_blank"> NSE 2 Network Security Associate</a>
				</li>
				<li>
					<a href="https://training.fortinet.com/mod/customcert/verify_certificate.php?contextid=251441&code=WipPu6Zsj9&qrcode=1" target="_blank"> NSE 3 Network Security Associate</a>
				</li>
			</ul>
		</details>
  </div>
	<div class="mb-5">
		<details>
			<summary class="text-2xl w-full font-bold">Capacitate para el Empleo</summary>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a href="/cursos/ce-001.pdf" target="_blank"> Técnico en seguridad en la nube</a>
				</li>
				<li>
					<a href="/cursos/ce-002.pdf" target="_blank"> Control de versiones</a>
				</li>
			</ul>
		</details>
  </div>
	<div class="mb-5">
		<details>
			<summary class="text-2xl w-full font-bold">SoloLearn</summary>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a href="/cursos/sl-001.pdf" target="_blank"> HTML Fundamentals course</a>
				</li>
				<li>
					<a href="/cursos/sl-002.pdf" target="_blank"> Machine Learning course</a>
				</li>
			</ul>
		</details>
  </div>
	<div class="mb-5">
		<details>
			<summary class="text-2xl w-full font-bold">OneMonth</summary>
			<ul class="list-disc mx-6 mb-10 grid gap-2">
				<li>
					<a href="/cursos/om-001.pdf" target="_blank"> Learn SQL</a>
				</li>
				<li>
					<a href="/cursos/om-002.pdf" target="_blank"> Learn HTML</a>
				</li>
				<li>
					<a href="/cursos/om-003.pdf" target="_blank"> Learn Responsive Design</a>
				</li>
			</ul>
		</details>
  </div>
	
</BaseLayout>
