---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Jordi Eduardo Ayala Soto | CV">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Soy Ingeniero en Sistemas Computacionales recien egresado. Busco una oportunidad para colaborar, apoyar y convertirme en un experto en el área de desarrollo de software, me apasiona la tecnología, me gustan los retos y nunca parar de aprender.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ingeniero en Sistemas Computacionales "
      subtitle="2017 - 2022. Tecnológico de Estudios Superiores de Villa Guerrero"
    />
    <TimeLineElement
      title="Técnico en Informática"
      subtitle="2014 - 2017. CBT CALMECAC Ixtapan de la Sal"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Title"
      subtitle="Date"
      desc="Description"
    />
    <TimeLineElement
      title="Title"
      subtitle="Date"
      desc="Description"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.credly.com/badges/b1a3c559-3446-4cc3-8fd5-ac277d552806/public_url" target="_blank"> Microsoft Azure Fundamentals</a>
    </li>
  </ul>

	<div class="mb-5">
    <div class="text-3xl w-full font-bold">Idiomas</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Español (Nativo)</li>
		<li>Inglés (B2)</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (B2)</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>C#</li>
    <li>Java</li>
  </ul>
</BaseLayout>
