---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Jordi Eduardo Ayala Soto | Proyectos">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos</div>
  </div>
	<HorizontalCard
		title="Portfolio"
		img="/projects/porfolio.webp"
		desc="Sitio web personal que permite mostrar información sobre mi persona, mis proyectos y habilidades. Esta desarrollado utilizando Astro y TailwindCSS. El proyecto está desplegado en Firebase utilizando CI."
		url="https://asjordi.dev"
		badge=""
		tags={["Astro", "TailwindCSS", "Firebase"]}
		repoUrl="https://github.com/ASJordi/personal-website"
		deployUrl="https://asjordi.dev"
	/>
	<div class="divider my-0"></div>
  <HorizontalCard
    title="URL Shortener"
    img="/projects/urls.webp"
    desc="Acortador de URL's que permite crear enlaces cortos a partir de una URL larga. Cuenta con un backend desarrollado en NodeJS y Express, y una base de datos MongoDB. El frontend está desarrollado en HTML, CSS y JS. El proyecto está desplegado en Netlify y Railway."
    url="https://link-shortly.netlify.app"
    badge=""
		tags={["HTML", "CSS", "JS", "NodeJS", "Express", "MongoDB"]}
		repoUrl="https://github.com/ASJordi/urlshortener"
		deployUrl="https://link-shortly.netlify.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Weather App"
    img="/projects/weather.webp"
    desc="Aplicación web que permite consultar el clima de cualquier ciudad del mundo utilizando la API de OpenWeather. Cuenta con un backend desarrollado en NodeJS y Express. El frontend está desarrollado en HTML, CSS y JS. El proyecto está desplegado en Netlify y Railway."
    url="https://weather-app-nodejs.netlify.app"
		badge=""
		tags={["HTML", "CSS", "JS", "NodeJS", "Express"]}
		repoUrl="https://github.com/ASJordi/simple-weather-app"
		deployUrl="https://weather-app-nodejs.netlify.app/"
  />
	<div class="divider my-0"></div>
	<HorizontalCard
    title="Multi-link Website"
    img="/projects/links.webp"
    desc="Página web que permite mostrar múltiples enlaces a páginas web. Esta desarrollada utilizando HTML y CSS. El proyecto está desplegado en Hostinger."
    url="https://asjordi.link"
		badge=""
		tags={["HTML", "CSS"]}
		repoUrl="https://github.com/ASJordi/asjordi.link"
		deployUrl="https://asjordi.link/"
  />
</BaseLayout>
