---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10 sticky top-[calc(100vh - 10px)]">
  <div class="pb-2">
    &copy; {today.getFullYear()} Jordi Ayala
  </div>
  <div class="inline opacity-75">
    <p>Supplier&lt;String&gt; s = () -&gt; "Made by <a href="https://github.com/asjordi" target="_blank" class="font-bold"> @ASJordi</a>";</p>
  </div>
</footer>
