<div title="Cambiar tema" class="dropdown dropdown-end" id="theme-selector">
  <div tabindex="0" class="btn gap-1 normal-case btn-ghost" id="themeIcon">
    <span class="hidden md:inline"></span>
  </div>
</div>

<script>
	const containerIcon = document.querySelector("#themeIcon");
	let theme = window.localStorage.getItem("data-theme");
	
	if(theme === null) {
		updateTheme("business");
		theme = window.localStorage.getItem("data-theme");
	}
	
	if (theme === "business") {
		updateTheme(theme); 
		setIconTheme("business");
	}
	else {
		updateTheme("light"); 
		setIconTheme("light");
	}
	
	containerIcon!.addEventListener("click", () => {
		changeThemeIcon();
  });

  function updateTheme(newTheme) {
		let htmlContainer = document.querySelector("html");
		if(htmlContainer) htmlContainer.setAttribute("data-theme", newTheme);
    window.localStorage.setItem("data-theme", newTheme);
  }

	function changeThemeIcon() {
		const currentTheme = window.localStorage.getItem("data-theme");
		const newTheme = currentTheme === "business" ? "light" : "business";
		updateTheme(newTheme);
		setIconTheme(newTheme);
	}

	function setIconTheme(theme){
		let container = document.querySelector("#themeIcon");
		let svgPath = "";

		if(theme === "business") {
			svgPath = "./light.svg"
		} else {
			svgPath = "./night.svg"
		}

		fetch(svgPath)
      .then(response => response.text())
      .then(svgData => {
				if(container) container.innerHTML = svgData;
		});
	}

</script>
